body {
    margin: 0;
}

.site-header {
    width: 100%;
    background-color: #391515;
    z-index: 2000;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-item {
    margin-left: 30px;
}

.nav-link {
    font-weight: normal;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #83404a;
}

.nav-link:hover {
    color: #f0a500;
}

.nav-link:active {
    color: #0b4980;
    font-size: smaller;
}

footer {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #391515;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    z-index: 2000;
}

@media (max-width: 768px) {
    .nav-item {
        margin-left: 2%;  
    }
}